[submodule "advanced-bundle-analyzer"]
	path = advanced-bundle-analyzer
	url = https://github.com/naveensaigit/advanced-bundle-analyzer
[submodule "react"]
	path = react
	url = https://github.com/naveensaigit/react
[submodule "suggestions_ui"]
	path = suggestions_ui
	url = https://github.com/AnkitGhildiyal2001/advanced_bundle_analyzer_ui
